/* ======================================================
=================== Features section ==============
=======================================================*/


.our-features {
    padding-bottom: 0;

    &__subtitle {
        color: $title-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__description {
        line-height: 1.71;
        letter-spacing: 0.42px;
    }
}

.our-features__list {
    display: flex;
    flex-wrap: wrap;

    &-item {
        width: calc((100% - 90px) / 4);
    }

    &-item:not(:nth-child(4n)) {
        margin-right: 30px;
    }
}

.list-item__icon {
    display: flex;

    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    height: 120px;

    border-radius: 4px;
    background-color: $background-third-color;
}