/* ===========================
Portfolio button list style
===============================*/
.portfolio__button-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;
}

.portfolio__filter-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio__filter-button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;

    border: none;
    border-radius: 4px;
    background-color: $background-third-color;

    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.48px;
    color: $title-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        filter 250ms cubic-bezier(0.4, 0, 0.2, 1);


    @include styled(background-color);
    @include styled(color);
    @include styled(filter);

    &:focus,
    &:hover,
    &:active {
        background-color: $primary-color;
        color: $secondary-color;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}