/* ========================================
portfilio examples - cards style
========================================*/

.portfilio__examples-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
}

.portfolio__item {
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;

    position: relative;

    &:not(:nth-child(3n)) {
        margin-right: 30px;
    }
}

.portfolio__link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include styled(box-shadow);

    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
}

.portfolio__project-descript {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #EEE;

    background: $background-color;
}

.portfolio__project-name {
    margin-bottom: 4px;
    color: $title-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 2.0;
    letter-spacing: 1.08px;
}

.portfolio__project-area {
    color: $text-color;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.48px;
}

/* =====================
portfilio overlay
=======================*/

.portfolio__overlay {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay-text {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;

    transform: translateY(calc(100%));
    @include styled(transform);
  

    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    letter-spacing: 0.03em;

    color: $secondary-color;
    background-color: rgba(33, 150, 243, 0.9);

    opacity: 0;


    .portfolio__link:hover &,
    .portfolio__link:focus & {
        opacity: 1;
        transform: translateY(calc(0%));
    }
}