/* =======================
Team section 
========================*/
.team {
    background-color: $background-third-color;
}

.team__member-list {
    display: flex;
    flex-wrap: wrap;
}

.team__member {
    width: calc((100% - 90px) / 4);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: $secondary-color;

    &:not(:nth-child(4n)) {
        margin-right: 30px;
    }
}

.member__description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.member__name {
    margin-bottom: 10px;
    color: $title-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;
    text-align: center;
}

.member__social {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;

    padding-left: 32px;
    padding-right: 32px;
}

.member__position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.48px;
    text-align: center;
}

.social-link {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;


    @include styled(background-color);

    &__icon {
        display: block;
        fill: $social-link-color;

        @include styled(fill);
    }

    &:hover,
    &:focus {
        background-color: $hover-color;
    }

    &:hover &__icon,
    &:focus &__icon {
        fill: $secondary-color;
    }
}