// ========== Змінні для кольорів =======


// для фону
$background-color: #FFFFFF;
$background-secondary-color: #2F303A;
$background-third-color: #F5F4FA;

// для офомлення акцентів
$primary-color: #2196F3;
$secondary-color: #FFFFFF;
$hover-color:  #188CE8;
$social-link-color: #AFB1B8;

// Кольори для шрифтів
$text-color: #757575;
$title-color: #212121;

// ========== Змінні для шрифтів ============

// Сімество шрифтів
$font-family: Roboto,
   sans-serif;   
$font-size: 14px;
